<div class="grid grid-cols-3 gap-8">
    <app-products title="producto 1" [price]="3000" img="https://picsum.photos/640/640?r=23" (pulsar)="fromchild($event)" />
    <app-products title="producto 2" [price]="2000" img="https://picsum.photos/640/640?r=24"  (pulsar)="fromchild($event)"/>
    <app-products title="producto 3" [price]="7000" img="https://picsum.photos/640/640?r=27" (pulsar)="fromchild($event)"/>
    <app-products title="producto 4" [price]="4000" img="https://picsum.photos/640/640?r=28" (pulsar)="fromchild($event)"/>
    <app-products title="producto 5" [price]="1000" img="https://picsum.photos/640/640?r=29" (pulsar)="fromchild($event)"/>
</div>

